<div class="top-bar bottom-shadow">
    <div class="logo"></div>
    <div class="navigation-buttons">
        <button mat-button color="primary">Acasa</button>
        <button mat-button color="primary">Shop</button>
        <button mat-button color="primary">Blog</button>
        <button mat-button color="primary">Contact</button>
    </div>
    <div class="action-buttons">
        <button mat-button>
            <mat-icon color="primary">search</mat-icon>
        </button>
        <button mat-button>
            <mat-icon color="primary">shopping_cart</mat-icon>
        </button>
        <button mat-button>
            <mat-icon color="primary">account_circle</mat-icon>
        </button>
    </div>
</div>
